<% provide(:title, "Edit Subcontractor") %>
<h1>Update a subcontractor</h1>
<div class="row">
  <div class="field offset6">
    <p><%= link_to "Back", subcontractor_path %> | <%= link_to "Index", subcontractors_path %></p>
    <%= form_for (@subcontractor) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :sbcon_name, "Name" %>
      <%= f.text_field :sbcon_name %>

      <%= f.label :con_name, "Contact Name" %>
      <%= f.text_field :con_name %>

      <%= f.label :con_email, "Contact Email" %>
      <%= f.text_field :con_email %>

      <%= f.label :con_tel_num, "Contact Telephone Number" %>
      <%= f.text_field :con_tel_num %>

      <%= f.label :address1, "Address Line 1" %>
      <%= f.text_field :address1 %>

      <%= f.label :address2, "Address Line 2" %>
      <%= f.text_field :address2 %>

      <%= f.label :city, "Town/City" %>
      <%= f.text_field :city %>

      <%= f.label :postcode, "Postcode" %>
      <%= f.text_field :postcode %>

      <%= f.label :county, "County" %>
      <%= f.text_field :county %>

      <%= f.label :country, "Country" %>
      <%= f.text_field :country %>

      <%= f.label :vat_reg, "VAT Registered?" %>
      <%= f.select :vat_reg, options_for_select([["No"], ["Yes"]], @subcontractor.vat_reg) %>

      <%= f.label :vat_no, "VAT No." %>
      <%= f.text_field :vat_no %>

      <%= f.label :utr_no, "UTR No." %>
      <%= f.text_field :utr_no %>

      <%= f.label :cr_ni_no, "CR/NI No." %>
      <%= f.text_field :cr_ni_no %>

      <%= f.label :cscs_card, "CSCS Card?" %>
      <%= f.select :cscs_card, options_for_select([["No"], ["Yes"]], @subcontractor.cscs_card) %>

      <%= f.label :op_avail, "Available Operatives" %>
      <%= f.text_field :op_avail %>

      <%= f.label :hr_rate_fitter, "Hourly Rate (Fitter)" %>
      <%= f.text_field :hr_rate_fitter, value: (number_with_precision(@subcontractor.hr_rate_fitter, precision: 2)) %>

      <%= f.label :hr_rate_other, "Hourly Rate (Other)" %>
      <%= f.text_field :hr_rate_other, value: (number_with_precision(@subcontractor.hr_rate_other, precision: 2)) %>
    </div>
    <h2>Areas Covered:</h2>
    <div class="field offset6">
      <%= f.label :scot, "Scotland" %>
      <%= f.select :scot, options_for_select([["No"], ["Yes"]], @subcontractor.scot) %>

      <%= f.label :ne_eng, "North East England" %>
      <%= f.select :ne_eng, options_for_select([["No"], ["Yes"]], @subcontractor.ne_eng) %>

      <%= f.label :nw_eng, "North West England" %>
      <%= f.select :nw_eng, options_for_select([["No"], ["Yes"]], @subcontractor.nw_eng) %>

      <%= f.label :se_eng, "South East England" %>
      <%= f.select :se_eng, options_for_select([["No"], ["Yes"]], @subcontractor.se_eng) %>

      <%= f.label :sw_eng, "South West England" %>
      <%= f.select :sw_eng, options_for_select([["No"], ["Yes"]], @subcontractor.sw_eng) %>

      <%= f.label :mid, "Midlands" %>
      <%= f.select :mid, options_for_select([["No"], ["Yes"]], @subcontractor.mid) %>

      <%= f.label :wales, "Wales" %>
      <%= f.select :wales, options_for_select([["No"], ["Yes"]], @subcontractor.wales) %>

      <%= f.label :ldn, "London" %>
      <%= f.select :ldn, options_for_select([["No"], ["Yes"]], @subcontractor.ldn) %>
    </div>

    <h2>Insurance</h2>
      <div class="field offset6">
      <%= f.label :ins_prod, "Product Liability" %>
      <%= f.select :ins_prod, options_for_select([["No"], ["Yes"]], @subcontractor.ins_prod) %>

      <%= f.label :ins_emp, "Employer Liability" %>
      <%= f.select :ins_emp, options_for_select([["No"], ["Yes"]], @subcontractor.ins_emp) %>

      <%= f.label :prov_prod, "Provider (Product)" %>
      <%= f.text_field :prov_prod %>

      <%= f.label :prov_emp, "Provider (Employer)" %>
      <%= f.text_field :prov_emp %>

      <%= f.label :ref_prod, "Reference No. (Product)" %>
      <%= f.text_field :ref_prod %>

      <%= f.label :ref_emp, "Reference No. (Employer)" %>
      <%= f.text_field :ref_emp %>

      <%= f.label :amnt_prod, "Cover Amount (Product)" %>
      <%= f.text_field :amnt_prod, value: 
      (number_with_precision(@subcontractor.amnt_prod, precision: 2)) %>

      <%= f.label :amnt_emp, "Cover Amount (Employer)" %>
      <%= f.text_field :amnt_emp, value: 
      (number_with_precision(@subcontractor.amnt_emp, precision: 2)) %>

      <%= f.label :exp_date_prod, "Expiry Date (Product)" %>
      <%= f.date_select :exp_date_prod, end_year: 20.years.from_now.year, order: [:day, :month, :year] %>

      <%= f.label :exp_date_emp, "Expiry Date (Employer)" %>
      <%= f.date_select :exp_date_emp, end_year: 20.years.from_now.year, order: [:day, :month, :year] %>

      <%= f.label :ins_pub, "Public Liability" %>
      <%= f.select :ins_pub, options_for_select([["No"], ["Yes"]], @subcontractor.ins_pub) %>

      <%= f.label :ins_con_all, "Contractors All Risk" %>
      <%= f.select :ins_con_all, options_for_select([["No"], ["Yes"]], @subcontractor.ins_con_all) %>

      <%= f.label :prov_pub, "Provider (Public)" %>
      <%= f.text_field :prov_pub %>

      <%= f.label :prov_con_all, "Provider (Contractors)" %>
      <%= f.text_field :prov_con_all %>

      <%= f.label :ref_pub, "Reference No. (Public)" %>
      <%= f.text_field :ref_pub %>

      <%= f.label :ref_con_all, "Reference No. (Contractors)" %>
      <%= f.text_field :ref_con_all %>

      <%= f.label :amnt_pub, "Cover Amount (Public)" %>
      <%= f.text_field :amnt_pub, value: 
      (number_with_precision(@subcontractor.amnt_pub, precision: 2)) %>

      <%= f.label :amnt_con_all, "Cover Amount (Contractors)" %>
      <%= f.text_field :amnt_con_all, value: 
      (number_with_precision(@subcontractor.amnt_con_all, precision: 2)) %>

      <%= f.label :exp_date_pub, "Expiry Date (Public)" %>
      <%= f.date_select :exp_date_pub, end_year: 20.years.from_now.year, order: [:day, :month, :year] %>

      <%= f.label :exp_date_con_all, "Expiry Date (Contractors)" %>
      <%= f.date_select :exp_date_con_all, end_year: 20.years.from_now.year, order: [:day, :month, :year] %>
    </div>

    <h2>T&ampCs, etc.</h2>
    <div class="field offset6">
      <%= f.label :acpt_tc, "Accept T&C" %>
      <%= f.select :acpt_tc, options_for_select([["No"], ["Yes"]], @subcontractor.acpt_tc) %>

      <%= f.label :hs_pol, "Health & Safety Policy" %>
      <%= f.select :hs_pol, options_for_select([["No"], ["Yes"], ["Use JTCs"]], @subcontractor.hs_pol) %>

      <%= f.label :meth_state, "Method Statements" %>
      <%= f.select :meth_state, options_for_select([["No"], ["Yes"], ["Use JTCs"]], @subcontractor.meth_state) %>

      <%= f.label :risk_ass, "Risk Assements" %>
      <%= f.select :risk_ass, options_for_select([["No"], ["Yes"], ["Use JTCs"]], @subcontractor.risk_ass) %>

      <%= f.label :comments, "Additional Comments" %>
      <%= f.text_area :comments %>

      <%= f.label :signed, "Signed by" %>
      <%= f.text_field :signed %>

      <%= f.label :signed_date, "Date" %>
      <%= f.date_select :signed_date, order: [:day, :month, :year] %>

      <%= f.label :position, "Position" %>
      <%= f.text_field :position %>

      <%= f.label :date_entered, "Date Entered" %>
      <%= f.date_select :date_entered, order: [:day, :month, :year] %>

      <%= f.label :renewal_date, "Renewal Date" %>
      <%= f.date_select :renewal_date, order: [:day, :month, :year] %>

      <%= f.label :initials, "Initials" %>
      <%= f.text_field :initials %>

      <%= f.label :approved_status, "Subcontractor Status" %>
      <%= f.select :approved_status, options_for_select([["Not Approved"], ["Approved"]], @subcontractor.approved_status) %>

      <%= f.label :sbcon_type, "Subcontractor Type" %>
      <%= f.select :sbcon_type, options_for_select([["Labour Only"], ["Specialist"], ["Both"]], @subcontractor.sbcon_type) %>

      <%= f.label :rating, "Rating" %>
      <%= f.select :rating, options_for_select([["1"], ["2"], ["3"], ["4"], ["5"]], @subcontractor.rating) %>

      <%= f.label :cis_ver_no, "CIS Verification No." %>
      <%= f.text_field :cis_ver_no %>

      <%= f.label :cis_stat, "CIS Status" %>
      <%= f.select :cis_stat, options_for_select([["0.00%"], ["20.00%"]], @subcontractor.cis_stat) %>

      <%= f.label :jtc_comm, "JTC Comments" %>
      <%= f.text_area :jtc_comm %>
    </div>

    <p><%= f.submit "Submit", class: "offset6 btn btn-large" %></p>
  <% end %>
</div>