<% provide(:title, 'All Subcontractors') %>
<h1>Subcontractors List</h1>

<p><%= link_to "Clear sorting", subcontractors_path, class: "btn btn-mini" %></p>
<%= will_paginate @sbcons %>
<%= render 'shared/subcon_total'%>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable_column "Name", column: "sbcon_name" %></th>
      <th>Contact Number</th>
      <th><%= sortable_column "CSCS", column: "cscs_card" %></th>
      <th>Type</th>
      <th><%= link_to "Scotland", scotland_path %></th>
      <th><%= link_to "NE England", ne_eng_path %></th>
      <th><%= link_to "NW England", nw_eng_path %></th>
      <th><%= link_to "Midlands", midlands_path %></th>
      <th><%= link_to "SE England", se_eng_path %></th>
      <th><%= link_to "SW England", sw_eng_path %></th>
      <th><%= link_to "London", london_path %></th>
      <th><%= link_to "Wales", wales_path %></th>
      <th><%= sortable_column "Operatives", column: "op_avail" %></th>
      <th><%= sortable_column "Product Liability", column: "ins_prod" %></th>
      <th><%= sortable_column "Employer Liability", column: "ins_emp" %></th>
      <th><%= sortable_column "Public Liability", column: "ins_pub" %></th>
      <th><%= sortable_column "Contractors All Risk", column: "ins_con_all" %></th>
      <th><%= sortable_column "Status", column: "approved_status" %></th>
    </tr>
  </thead>
  <tbody>
  <% @sbcons.each do |subcontractor| %>
    <tr>
      <td><%= link_to subcontractor.sbcon_name, subcontractor %></td>
      <td><%= subcontractor.con_tel_num %></td>
      <td><%= subcontractor.cscs_card %></td>
      <td><%= subcontractor.sbcon_type %></td>
      <td><%= subcontractor.scot %></td>
      <td><%= subcontractor.ne_eng %></td>
      <td><%= subcontractor.nw_eng %></td>
      <td><%= subcontractor.mid %></td>
      <td><%= subcontractor.se_eng %></td>
      <td><%= subcontractor.sw_eng %></td>
      <td><%= subcontractor.ldn %></td>
      <td><%= subcontractor.wales %></td>
      <td><%= subcontractor.op_avail %></td>
      <td><%= subcontractor.ins_prod %></td>
      <td><%= subcontractor.ins_emp %></td>
      <td><%= subcontractor.ins_pub %></td>
      <td><%= subcontractor.ins_con_all %></td>
      <td><%= subcontractor.approved_status %></td>
      <td class="edit"><%= link_to "edit", edit_subcontractor_path(subcontractor), class: "btn btn-success btn-mini" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @sbcons %>
