<% provide(:title, @sbcon.sbcon_name) %>
<div class="row" id="links">
  <aside class="span4">
    <section>
      <h1><%= @sbcon.sbcon_name %></h1>
      <%= link_to "edit", edit_subcontractor_path, class: "btn btn-success btn-mini" %> | 
      <%= link_to "Index", subcontractors_path %> | 
      <%= link_to "Subcontractors due for renewal", root_path %>
    </section>
  </aside>
</div>
<br>
<table>
  <tr><td><strong>Contact Details:</strong></td></tr>
  <tr><td><%= @sbcon.con_name %> | <a href="mailto:<%= @sbcon.con_email %>"> <%= @sbcon.con_email %></a></td></tr>
  <tr><td><%= @sbcon.con_tel_num %></td></tr>
  <tr><td><br></td></tr>
  <tr><td><strong>Address:</strong></td></tr>
  <tr><td><%= @sbcon.address1 %></td></tr>
  <% if @sbcon.address2? %>
    <tr><td><%= @sbcon.address2 %></td></tr>
  <% end %>
  <tr><td><%= @sbcon.city %></td></tr>
  <% if @sbcon.county? %>
    <tr><td><%= @sbcon.county %></td></tr>
  <% end %>
  <tr><td><%= @sbcon.postcode %></td></tr>
  <tr><td><%= @sbcon.country %></td></tr>
  <tr><td><strong>Staff Details:</strong></td></tr>
  <tr><td>Available Staff:</td><td class="number"><%= @sbcon.op_avail %></td></tr>
  <tr>
    <td>Hourly Rate (Fitter):</td>
    <td class="number"><%= number_to_currency(@sbcon.hr_rate_fitter, unit: '£') %></td>
  </tr>
  <tr>
    <td>Hourly Rate (Other):</td>
    <td class="number"><%= number_to_currency(@sbcon.hr_rate_other, unit: '£') %></td>
  </tr>
  <tr><td><br></td></tr>
  <tr><td><strong>Areas Available:</strong></td></tr>
  <tr>
    <td>Scotland:</td>
    <td><%= @sbcon.scot %></td>
  </tr>
  <tr>
    <td>North East England:</td>
    <td><%= @sbcon.ne_eng %></td>
  </tr>
  <tr>
    <td>North West England:</td>
    <td><%= @sbcon.nw_eng %></td>
  </tr>
  <tr>
    <td>Midlands:</td>
    <td><%= @sbcon.mid %></td>
  </tr>
  <tr>
    <td>South East England:</td>
    <td><%= @sbcon.se_eng %></td>
  </tr>
  <tr>
    <td>South West England:</td>
    <td><%= @sbcon.sw_eng %></td>
  </tr>
  <tr>
    <td>London:</td>
    <td><%= @sbcon.ldn %></td>
  </tr>
  <tr>
    <td>Wales:</td>
    <td><%= @sbcon.wales %></td>
  </tr>
  <tr><td><br></td></tr>
  <tr><td><strong>VAT, etc:</strong></td></tr>
  <tr>
    <td>UTR Number:</td>
    <td><%= @sbcon.utr_no %></td>
  </tr>
  <tr>
    <td>CR/NI Number:</td>
    <td><%= @sbcon.cr_ni_no %></td>
  </tr>
  <tr>
    <td>CSCS Cards:</td>
    <td><%= @sbcon.cscs_card %></td>
  </tr>
  <tr><td><br></td></tr>
  <tr><td><strong>Insurance:</strong></td></tr>
  <tr>
    <td><strong>Product Liability</strong>:</td>
    <td><%= @sbcon.ins_prod %></td>
  </tr>
  <% if @sbcon.prov_prod? %>
    <tr>
      <td>Provider:</td>
      <td><%= @sbcon.prov_prod %></td>
    </tr>
  <% end %>
  <% if @sbcon.ref_prod? %>
    <tr>
      <td>Reference Number:</td>
      <td><%= @sbcon.ref_prod %></td>
    </tr>
  <% end %>
  <% if @sbcon.amnt_prod? %>
    <tr>
      <td>Cover Amount:</td>
      <td><%= number_to_currency(@sbcon.amnt_prod, unit: '£') %></td>
    </tr>
  <% end %>
  <% if @sbcon.exp_date_prod? %>
    <tr>
      <td>Expiry Date:</td>
      <td><%= @sbcon.exp_date_prod.strftime('%d-%m-%Y') %></td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Employer Liability</strong>:</td>
    <td><%= @sbcon.ins_emp %></td>
  </tr>
  <% if @sbcon.prov_emp? %>
    <tr>
      <td>Provider:</td>
      <td><%= @sbcon.prov_emp %></td>
    </tr>
  <% end %>
  <% if @sbcon.ref_emp? %>
    <tr>
      <td>Reference:</td>
      <td><%= @sbcon.ref_emp %></td>
    </tr>
  <% end %>
  <% if @sbcon.amnt_emp? %>
    <tr>
      <td>Cover Amount:</td>
      <td><%= number_to_currency(@sbcon.amnt_emp, unit: '£') %></td>
    </tr>
  <% end %>
  <% if @sbcon.exp_date_emp? %>
    <tr>
      <td>Expiry Date:</td>
      <td><%= @sbcon.exp_date_emp.strftime('%d-%m-%Y') %></td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Public Liability:</strong></td>
    <td><%= @sbcon.ins_pub %></td>
  </tr>
  <% if @sbcon.prov_pub? %>
    <tr>
      <td>Provider:</td>
      <td><%= @sbcon.prov_pub %></td>
    </tr>
  <% end %>
  <% if @sbcon.ref_pub? %>
    <tr>
      <td>Reference:</td>
      <td><%= @sbcon.ref_pub %></td>
    </tr>
  <% end %>
  <% if @sbcon.amnt_pub? %>
    <tr>
      <td>Cover Amount:</td>
      <td><%= number_to_currency(@sbcon.amnt_pub, unit: '£') %></td>
    </tr>
  <% end %>
  <% if @sbcon.exp_date_pub? %>
    <tr>
      <td>Expiry Date:</td>
      <td><%= @sbcon.exp_date_pub.strftime('%d-%m-%Y') %></td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Contractors All Risk</strong>:</td>
    <td><%= @sbcon.ins_con_all %></td>
  </tr>
  <% if @sbcon.prov_con_all? %>
    <tr>
      <td>Provider:</td>
      <td><%= @sbcon.prov_con_all %></td>
    </tr>
  <% end %>
  <% if @sbcon.ref_con_all? %>
    <tr>
      <td>Reference:</td>
      <td><%= @sbcon.ref_con_all %></td>
    </tr>
  <% end %>
  <% if @sbcon.amnt_con_all? %>
    <tr>
      <td>Cover Amount:</td>
      <td><%= number_to_currency(@sbcon.amnt_con_all, unit: '£') %></td>
    </tr>
  <% end %>
  <% if @sbcon.exp_date_con_all? %>
    <tr>
      <td>Expiry Date:</td>
      <td><%= @sbcon.exp_date_con_all.strftime('%d-%m-%Y') %></td>
    </tr>
  <% end %>
  <tr><td><br></td></tr>
  <tr><td><strong>T&ampCs, etc.</strong></td></tr>
  <tr>
    <td>Accepted T&ampC:</td>
    <td><%= @sbcon.acpt_tc %></td>
  </tr>
  <tr>
    <td>Health &amp Safety Policy:</td>
    <td><%= @sbcon.hs_pol %></td>
  </tr>
  <tr>
    <td>Method Statements:</td>
    <td><%= @sbcon.meth_state %></td>
  </tr>
  <tr>
    <td>Risk Assessments:</td>
    <td><%= @sbcon.risk_ass %></td>
  </tr>
  <% if @sbcon.comments? %>
    <tr>
      <td>Additional Comments:</td>
      <td><%= @sbcon.comments %></td>
    </tr>
  <% end %>
  <tr>
    <td>Signed by:</td>
    <td><%= @sbcon.signed %> on <%= @sbcon.signed_date.strftime('%d-%m-%Y') %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Position:</td>
    <td><%= @sbcon.position %></td>
  </tr>
  <tr><td><br></td></tr>
  <tr><td><strong>JTC Internal</strong></td></tr>
  <tr>
    <td>Date Entered:</td>
    <td><%= @sbcon.date_entered.strftime('%d-%m-%Y') %> by <%= @sbcon.initials %></td>
  </tr>
  <tr>
    <td>Renewal Date:</td>
    <td><%= @sbcon.renewal_date.strftime('%d-%m-%Y') %></td>
  </tr>
  <tr>
    <td>Status:</td>
    <td><%= @sbcon.approved_status %></td>
  </tr>
  <tr>
    <td>Subcontractor Type:</td>
    <td><%= @sbcon.sbcon_type %></td>
  </tr>
  <tr>
    <td>Rating:</td>
    <td ><%= @sbcon.rating %></td>
  </tr>
  <tr>
    <td>CIS Verification Number:</td>
    <td ><%= @sbcon.cis_ver_no %></td>
  </tr>
  <tr>
    <td>CIS Status</td>
    <td ><%= @sbcon.cis_stat %></td>
  </tr>
  <% if @sbcon.jtc_comm? %>
    <tr>
      <td>JTC Comments:</td>
      <td><%= @sbcon.jtc_comm %></td>
    </tr>
  <% end %>
</table>